// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *{
//   back;
// }

@import "bootstrap";



form input[type=text] {
  width:150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

// form input[type=text]:focus {
//     width: 30%;
// }

form input[type=text]:hover {
    width: 18%;
}

form label {
  color:black;
  padding-left: 25px;
}
